<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">G2B</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a routerLink="home" class="nav-link">Home</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a routerLink="games" class="nav-link">Manage Games</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a routerLink="AddGames" class="nav-link">Add Games</a>
      </li>
      <li class="nav-item">
        <a routerLink="RPG" class="nav-link">Rpg</a>
      </li>
      <li class="nav-item">
        <a routerLink="FirstPerson" class="nav-link">First-Person</a>
      </li>
      <li class="nav-item">
        <a routerLink="MMO" class="nav-link">MMO</a>
      </li>
      <li class="nav-item">
        <a routerLink="OpenWorld" class="nav-link">Open-World</a>
      </li>


      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>


      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
